/* 
    Document   : feedback.css
    Created on : 06.02.2014, 22:56:46
    Author     : ikset
    Description:
        Purpose of the stylesheet follows.
*/

.dialog{
}

.dialogTable{
    height: 150px;
    margin: 10px;
    overflow-y:scroll; 
}
.dialogTableTable{
    width: 100%;
}
.dialogTableLine{
    background-color: white;
    cursor:pointer;
}
.dialogTableLine1{
    background-color: #FFDDAA;
    cursor:pointer;
}
.dialogTableEntry{
    padding: 5px;
    color: #663300;
    font-weight: normal;
}

#updateFeedBtn{
    color:#663300;
    font-weight: bold;
    height:30px;
    float: right;
    cursor: pointer;
    margin: 10px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
    background: rgb(255,197,120); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover,  rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#commitFeedBtn{
    color:#663300; 
    font-weight: bold;
    cursor: pointer;    
    height:30px;
    float: right;
    margin: 10px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
    background: #61c419; /* Old browsers */
    background: -moz-linear-gradient(top,  #61c419 0%, #b4e391 50%, #61c419 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61c419), color-stop(50%,#b4e391), color-stop(100%,#61c419)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61c419 0%,#b4e391 50%,#61c419 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61c419 0%,#b4e391 50%,#61c419 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61c419 0%,#b4e391 50%,#61c419 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61c419 0%,#b4e391 50%,#61c419 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c419', endColorstr='#61c419',GradientType=0 ); /* IE6-9 */

}
#instructions
{
    font-size: 1.2em;
    cursor: pointer;
    float: left;
    margin: 10px;
}
#audiobox
{
    font-size: 1.2em;
    cursor: pointer;
    float: left;
    margin: 10px;
}
#inputComents
{
    height:100px;
    width:950px;
    float: left;
    margin: 10px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
    color:#663300;
    background-color: #FFDDAA;
}
#inputFeedback
{
    height:30px;
    width:790px;
    float: left;
    margin: 10px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 1%, rgba(254,254,254,1) 65%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(1%,rgba(219,219,219,1)), color-stop(65%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* IE10+ */
    background: linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 1%,rgba(254,254,254,1) 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.editButton
{
    font-size: 1.2em;
    float:right;
    cursor: pointer;
    visibility: hidden;
}


.adminPageButton
{
    visibility: hidden;
}



.validateButton
{
    font-size: 1.2em;
    float:right;
    cursor: pointer;
    visibility: hidden;
}


.alertButton
{
    font-size: 1.2em;
    float:right;
    color:rgb(255, 122, 0);
}

.okButton
{
    font-size: 1.2em;
    float:right;
    color:green;
}
.audiobox
{
    font-size: 1.2em;
    float:left;
    color:green;
}

