/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
    height: 100px;
	background-color: white;
	opacity: 0,9;
	border-radius: 5px;
}
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid white;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
   /* margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

 /* RD: making vertical align great again */
.table > tbody > tr > td {
     vertical-align: middle;
}
body {
    padding-left:33px;
    padding-right:33px;
	padding-bottom: 33px;
    margin:0px;
    background-image:url(../images/megeb.jpg);
	width: auto;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;






.login input {
    font-family: Georgia,serif;
    color:#663300;
    font-size:12px;
    padding:1px 1px 1px 1px;
    margin:5px 5px 5px 0px;
    vertical-align:middle;
    border:1px solid #D3D3D3;
    width:150px;
    background-color:#FFF;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
}

.corpusform label {
    float:left;
    opacity:1;
    width:130px;
    font-weight:normal;
    font-family:Times New Roman; 
    font-weight:bold;
    font-size:12px;
    margin:5px 0px 5px 0px;
    padding:2px 0px 2px 0px;
}

.corpusform input {
    display:block;
    float:left;
    font-family:Georgia,serif;
    color:#663300;
    font-size:15px;
    padding:2px 2px 2px 3px;
    margin:5px 5px 5px 0px;
    vertical-align:middle;
    border:1px solid #D3D3D3;
    width:150px;
    background-color:#FFF;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;
}

form br {
    clear:both;
}

form span.radio {
    float:left;
    margin:0px 20px 0px 0px;
}

#textsform {
    float:left;
    min-width:450px;
    width:auto;
}

* html #textsform {
    width:450px;
}

.red {
    color:#663300;
}

br.clear {
    clear:both;
}

input.hidden, input[type=hidden] {
    display:none;
}

.corpusform div.languages input.togglelanggroup {
    float:left;
    padding:0px;
    margin:1px 2px 0px 0px;
    width:auto;
}

#bigBox1{
    left:10%; 
    width:896px; 
    padding-left:5px; 
    padding-top:5px; 
    float: left; 
    border-style:solid; 
    border-width:1px; 
    border-color:#663300;
}
#bigBox2{
    left:10%; 
    width:896px; 
    padding-left:5px; 
    padding-top:5px; 
    float: left; 
    border-style:solid; 
    border-width:1px; 
    border-color:#663300;
}
#bigBoxQCP{
    left:10%; 
    width:896px; 
    padding-left:5px; 
    padding-top:5px; 
    float: left; 
    border-style:solid; 
    border-width:1px; 
    border-color:#663300; 
}
.shadow {
    -moz-box-shadow: 0 0 10px 1px black;
    -webkit-box-shadow: 0 0 10px 1px black;
}
.shadow2 {
    -moz-box-shadow: 0 0 0px 1px #999;
    -webkit-box-shadow: 0 0 0px 1px #999;
}



.crBtn{
    width:50px;
    height:50px;
    float: right;
    margin: 3px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;

}
.updateFeedBtn
{
    height:30px;
    float: right;
    margin: 3px;
    margin-right: 10px;
    border-style:solid;
    border-width:1px; 
    border-color:#663300;

}
td {
    padding: 5px;
    font-family: 'Times New Roman', serif;
    font-size: 1.1em;
    display:table-cell;
}


