body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 500ms ease-out;
      -moz-transition: margin 500ms ease-out;
      -o-transition: margin 500ms ease-out;
      transition: margin 500ms ease-out;
  }
  
  .handle, .main{
	      -webkit-transition: margin 500ms ease-out;
      -moz-transition: margin 500ms ease-out;
      -o-transition: margin 500ms ease-out;
      transition: margin 500ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: 15%; 
      margin-left: 40px;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 0px;
    }

    nav.sidebar .navbar-nav > li{
      /*border-bottom: 1px #e5e5e5 solid;*/
    }
	
	nav.sidebar .navbar-nav>li>a {
		color: gray;
	}

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #d8a864;
    }

    nav.sidebar{
      float: left;
	  margin-left: 2%;
	  border: solid 1px gray;
      background-color: lighten(@color, 20%);
      box-shadow: 1px 1px 1px gray;
      padding-left: 20px;
	  opacity: 0.9;
    }

    nav.sidebar li {
      width: 100%;
    }
	
	.handle{
		margin-left: 40px;
		background-color: f0ad4e;
		font-size: 100%;
	}
	.handle:hover {
		margin-left:0px;
	}
	

  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 70px);
      margin-left: 2%;
    }

    nav.sidebar{
      margin-left: 2%;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fceedb;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  .divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: gray;
  }
  
  
 