/*@color: #d08d2e;*/
@color: #e5e5e5;
@font: 'Georgia';
@font-size: 10px;

query-row {
    display: inline-block;
    width: 100%;
}

div.tokens-between{
	display: inline-block; 
	float: left; 
	margin-top: 10px;
	margin-bottom: 10px;
}

div.options{
    float: left;
	text-align: left;
	margin-left: 40px;
	margin-top: 10px;
	font-size: 15px;
	margin-bottom: 10px;
}

div.exclude{
	text-align: left;
	margin-bottom: 20px;
	margin-top: 15px;
	margin-left: 5px;
	padding-left: 8px;
	background-color: darken(@color, 10%);
	border-radius: 5px;
	box-shadow: 3px 3px 3px #777777;
	width: 60%;
}

.search {
    border: solid 1px gray;
    background-color: lighten(@color, 10%);
    border-radius: 5px;
    padding: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

body {
    background-image: url("../images/megeb.jpg");
	font-family: 'Georgia', serif;
	width: auto;
	position: center;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
	height: 100%;
}

.page {
   min-height: 100%;
   position: center;
}

div#naglowek {
    min-height: 110px;
    border: solid 1px darken(@color, 40%);
	background-color: lighten(@color, 15%);
	opacity: 0,7;
	border-radius: 5px;
}



div#inputMap {
	width: 100%;
	height: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div#side-menu {
	}

img#jgu {
    height: 100px;
    margin: 3px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 5px;
}

img#uw {
    height: 80px;
	margin-top: 10px;
	padding-top: 10px;
	border-radius: 5px;
}

div#copyright {
	margin: 5px;
	margin-right: 100px;
	font-size: 11px;
	text-align: right;
	float: right;
}

div#genre {
	margin-top: 10px;
	font-size: 12px;
	text-align: left;
}

div#search-button {
	text-align: center;
	font-size: 14px;
}

button.meta {
	background: darken(@color, 5%);
	cursor: pointer;
	width: 140px;
	border-color: lighten(@color, 10%);
}

button.meta:hover {
	background: lighten(@color, 30%);
}

.container {
    margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
    /*background-image: linear-gradient(darken(@color, 20%) 0%, lighten(@color, 20%) 50%, darken(@color, 10%) 100%);
    border-radius: 5px;
    box-shadow: 3px 3px 3px;*/
}

.angular-google-map-container { height: 200px; width: 100%;}

language-chooser {
	float: right;
    border: solid 2px gray;
    background-color: lighten(@color, 10%);
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    text-align: center;
    display: inline-block;
}

div#search {
    border: solid 1px gray;
    background-color: lighten(@color, 15%);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
	
}

div#simple_search {
    .search;
    padding-left: 5px;
    padding-right: 5px;
}

div#query_for_language {
    .search;
    background-color: darken(@color, 25%);
}

div#advanced_search {
    .search;
    padding:0;
	background-color: lighten(@color, 15%);
}

div#advanced {
    padding:0;
}

div#complex_search {
    .search;
    hight: auto;
	padding-bottom: 15px;
}

div#Ustja {
    text-align: center; 
    padding: 10px;
}

div#main-buttons {
    position:relative;
    text-align: left;
    margin: 6px;
    margin-bottom:11px;
}

div#main-buttons1 {
    position:relative;
    text-align: right;
    margin: 4px;
    margin-top: 16px;
    margin-bottom:10px;
	cursor:pointer;
}

div#placeholders {
    padding: 0px;
    margin: 0;
}

div.plusminus-container {
    position: relative;
    top: -25px;
}

div.show-hide-container {
	position: relative;
	top: -30px;
}

div#plus-minus-left {	
    padding-left: 3px;
    padding-right: 10px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right:10px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:5px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div.primary-button {
	display: inline-block;
	font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
    font-weight: bold;
    margin-right: 1px;
    margin-left:1px;
	margin-top: 1px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 30%)',GradientType=0 );
    border: solid 1px;
    border-radius:5px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div.primary-button:hover

{
	background: -webkit-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	background: linear-gradient(top, lighten(@color, 20%) 0%, lighten(@color, 40%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 20%)', endColorstr='lighten(@color, 40%)',GradientType=0 );
}

div.primary-button-light

{
	display: inline-block;
	font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
    font-weight: bold;
    margin-right: 1px;
    margin-left:1px;
	margin-top: 1px;
	margin-bottom: 5px;
	background: -webkit-linear-gradient(top, lighten(@color, 30%) 0%, lighten(@color, 40%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 30%) 0%, lighten(@color, 40%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 30%) 0%, lighten(@color, 40%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 30%) 0%, lighten(@color, 40%) 100%);
	background: linear-gradient(top, lighten(@color, 30%) 0%, lighten(@color, 40%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 30%)', endColorstr='lighten(@color, 40%)',GradientType=0 );
    border: solid 1px;
    border-radius:5px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
}

div#plus-minus-right {
	float: right;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
    margin-left:5px;
    background-color: #e3e3e3;
    border: solid 1px grey;
    border-radius:5px;
    box-shadow: 1px 1px 1px;
	cursor:pointer;
	width: 4%;
}

div#show-hide {
	float: right;
	padding-right: 3px;
	padding-left: 3px;
    text-align: center;
    margin-left: 1px;
    margin-right:1px;
    background-color: #e3e3e3;
    border: solid 1px grey;
	box-shadow: 1px 1px 1px;
    border-radius:5px;
	cursor:pointer;
}

div#show-hide1 {
	float: right;
	font-size: 18px;
	text-decoration: underline;
	cursor: pointer;
}

div#show-hide1:hover {
	font-weight: bold;
}

div.languageSwitch {
	margin-top: 15px;
}

span.languageSwitch {
	cursor: pointer;
}


.primary-language{
    width: 90%;
    margin: 10px;
}

.aligned-languages {
    text-align: left;
}

.form-control {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
}

.form-control-small {
	.form-control;
	height: 20px;
	font-size: 12px;
	padding-left: 5	px;
	border-radius: 5px;
	width: 10px;
}

.form-control-checkbox {
	.form-control;
	border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    height: 24px;
	width: 83%;
	display: inline;
	border-radius: 5px;
	margin: -3px;
}

.keyboardInput {
    border: solid 1px;
    border-color: darken(@color, 60%);
    background-color: lighten(@color, 30%);
    padding:2px;
    height: 24px;
	border-radius: 5px;
}

.form-group {
    padding: 0;
}
.checkbox {
    padding:2px;
    margin:1px;
}

.tokens {
    text-align: left;
    padding:0;
}

h1 {
    font: @font; 
    font-size: @font-size*3.7;
    color: darken(@color, 100%);
	text-align: center;
}

h2 {
    font: @font; 
    font-size: @font-size*1.8;
    color: darken(@color, 100%);
}

h3 {
    font: @font; 
    font-size: @font-size*1.4;
    color: darken(@color, 100%);
}

button#main {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    border-radius: 5px;
}

label {
    margin: 3px;
}

.animate-repeat {
    position: relative;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  right: -50%;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  right: 0;
}

.search-button
{
padding: 8px 16px 8px;
margin-top: 10px;
margin-right: 5px;
font-size: 21px;
background: -webkit-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -moz-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	background: linear-gradient(top, #d3d3d3 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 );font-weight: bold;
border-radius: 5px;
cursor: pointer;
float: left;
box-shadow: 4px 5px 3px #333333;
}

.search-button-1
{
	float: left;
	margin-top: 20px;
	margin-right: 3px;
	font-size: 20px;
	padding: 5px 10px 5px;
	/*background: -webkit-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -moz-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -o-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: -ms-linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	background: linear-gradient(top, darken(@color, 10%) 0%, lighten(@color, 10%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken(@color, 0%)', endColorstr='lighten(@color, 10%)',GradientType=0 );*/
	background-color: lighten(@color, 10%);
	border: solid 1px gray;
	border-radius: 5px;
	box-shadow: 2px 2px;
	cursor: pointer;
	border: 1px;
	outline:0;
}

.search-button-1:hover

{
	background: -webkit-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	background: linear-gradient(top, lighten(@color, 10%) 0%, lighten(@color, 30%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@color, 10%)', endColorstr='lighten(@color, 20%)',GradientType=0 );
}

/* SQUARED ONE */
.squaredOne {
	width: 23px;
	height: 23px;
	display: inline-block;
	background: #111111;


	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
	border-radius: 4px;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 19px;
	height: 18px;
	left: -1px;
	top: -1px;
	border-radius: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -moz-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -o-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: -ms-linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	background: linear-gradient(top, lighten(@color, 40%) 0%, lighten(@color, 20%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(@color, 40%)', endColorstr='lighten(@color, 20%)',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	left: 2px;
	top: 2px;
	background: #A93B13;
	border-radius: 3px;

	background: -webkit-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -moz-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -o-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: -ms-linear-gradient(top, #A93B13 0%, #C1461A 100%);
	background: linear-gradient(top, #A93B13 0%, #C1461A 100%);



	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.opacity-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.opacity-show-hide.ng-hide {
  opacity:0;
}

.bigger-font {
	font-size: 120%;
}

.round-right {
	border-radius: 5px;
}	

.main-content {
    padding: 15px;
	float:left; 
	position: relative; 
	width: 95%;
	margin-left: 5px;
	margin-right: 10px;
}

li.as-link {
	cursor: pointer;
}

.info {
    border: solid 1px gray;
    background-color: lighten(@color, 20%);
    border-radius: 5px;
    text-align: left;
    padding: 15px;
	float:left; 
	position: relative; 
	width: 100%;
	
}

.info-no-border {
    padding: 15px;
	float:left; 
	position: relative; 
	left: 8%;
	font-size: 120%;
	width: 100%;
	
}

.picture-box {
	max-height: 500px;
	
}

img.center {
    display: block;
    margin: 0 auto;
}

img.border {
	border: 1px solid;
}