<div id="search" class="info">


    <!--<div id="simple_search" class="col-lg-12">
        <h2>Simple search</h2>
        <input type="text" class="form-control" id="siple_search" placeholder="Search" ng-model="exactQuery">
        <div id="main-buttons1" class="col-lg-7">
            <input type="submit" id="main" name="btn[xml]" value="Search"></input>
        </div>
        <div class="col-lg-4">
            <label class="checkbox-inline">
            <input type="checkbox" value="" ng-model="exactQueryCaseSensitive"><small> case sensitive</small>
        </label>
        </div>
        
    </div>-->

    <div id="advanced_search" class="col-lg-12">
        <div id="advanced"> <h2 translate>Basic search</h1>
            <span ng-repeat="row in rowsNumber()"> <!-- ng-repeat wrapper -->
                <query-row show-tokens-in-between="$index != rowsNumber().length - 1" queryRow="queryRows[$index]" queryRows="queryRows" index="$index"></query-row>
            </span>
		</div>

        <div class="plusminus-container">
            <div id="plus-minus-right" ng-click="moreRows()" style="margin-right: 2%; margin-top: 0;">
                +
            </div>
            <div id="plus-minus-right" ng-click="lessRows()">
                -
            </div>
        </div>
		<!--<div class="col-lg-12" id="genre">
			<div style="text-align: left; font-size: 12px; font-weight: bold;" translate>Search only in:</div>
			<div class="primary-button" id="filter_button_tra" ng-click="changeFilter('TRA')" translate>Ukrainian texts</div>	
			<div class="primary-button" id="filter_button_lem" ng-click="changeFilter('LEM')" translate>Lemko texts</div>	
			<div class="primary-button" id="filter_button_slo" ng-click="changeFilter('SLO')" translate>Slovakian texts</div>	
		</div>-->
		
		<div id="metadata" class="col-lg-12" style="margin-bottom: 10px;">
				<h2 translate >Metadata</h2>
				<div class="show-hide-container" ng-click="changeVisible('meta')">
					<div id="show-hide">
						{{getButtonState('meta')}}
					</div>
				</div>
				<span ng-show="getVisible('meta')">
					<span ng-repeat="field in metaFieldsNumberArray()">	
						<div id="placeholders" class="col-lg-12">
							<div class="form-group col-lg-3">
								<metadata index="$index" place="0" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1">></metadata>
							</div>
							<div class="form-group col-lg-3">
								<metadata index="$index" place="1" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1"></metadata>
							</div>
							<div class="form-group col-lg-3">
								<metadata index="$index" place="2" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 != 1"></metadata>
							</div>
							<div class="form-group col-lg-3">
								<metadata index="$index" place="3" ng-if="$index < metaFieldsNumberArray().length - 1 || metaFieldsNumber() % 3 == 0"></metadata>
							</div>
						</div>
					</span>
					<!--<h2 translate style="margin-top: 20%;" >Map</h2>
					<div class="show-hide-container" ng-click="changeVisible('map')" style="margin-top: 10px">
						<div id="show-hide">
							{{getButtonState('map')}}
						</div>
					</div>
					<div style="width:90%;margin:auto;margin-bottom:4%">
						<div id="inputMap" ng-show="getVisible('map')" class="opacity-show-hide"></div>
						<!--<<ui-gmap-google-map center='map.center' zoom='map.zoom' ng-show="resizeMap()">
							ui-gmap-marker idKey="'id' + $index" coords="locations[$index]" ng-repeat="location in locations">
						</ui-gmap-google-map>
					</div>-->
				</span>
		</div>

    </div>

    <div id="complex_search" class="col-lg-12">
		<!--Complex (CQP) search-->
        <h2 translate>CQP Search</h2>
		<input type="button" id="show-hide" style="float: right; position: relative; border: solid 1px grey; margin-right: 10px; margin-top: 0px; border-radius:5px; box-shadow: 1px 1px 1px;" value="{{'Clear'|translate}}" ng-click="clear()">
        <input type="text" class="form-control" style="margin-left: 30px; width:83%;" id="cqp_search" placeholder="{{'Search'|translate}}" ng-model="outputQuery" ng-value="getQuery()" ng-change="checkManualUpdate()">
    </div>
</div>


<input type="hidden" name="query" ng-value="outputQuery"/>
<input type="hidden" name="metaToShow" ng-value="metaToShow()"/>
<!--<input type="hidden" name="langFilter[]" value="{{filter}}" ng-repeat="filter in getFilters()"/>-->