<!--<span class="col-lg-12" ng-show="showTokensInBetween" style="float: right; text-align: right">
    <p style="display: inline-block;"><small><b>Tokens in between:</b></small></p>
        <input style="width: 10%; display: inline-block; margin-top: 5px; margin-bottom: 5px;" id="from_to" type="number" class="form-control" placeholder="from" ng-model="queryRow.from">
        <input style="width: 10%; display: inline-block; margin-top: 5px; margin-bottom: 5px;" id="from_to" type="number" class="form-control" placeholder="to" ng-model="queryRow.to">
</span>-->
<div  id="placeholders" class="col-lg-12">
    <div class="form-group col-lg-4">
        <input type="text" placeholder="{{'Token'|translate}}" id="{{ 'advToken_' + index}}" ng-model="queryRow.token" ng-keyup="autocmp('advToken_' + index, 'word')" class="keyboardInput">
    </div>
    <div class="form-group col-lg-4">
        <input type="text" placeholder="{{'Lexeme'|translate}}" class="keyboardInput" id="{{ 'advLemma_' + index}}" ng-model="queryRow.lexeme" ng-keyup="autocmp('advLemma_' + index, 'lemma')">
    </div>
    <!--<div class="form-group col-lg-3">
        <input type="text" placeholder="{{'Dialect form'|translate}}" class="keyboardInput" id="advTag" ng-model="queryRow.morph">
    </div>	-->
    <div class="form-group col-lg-4">
        <input type="text" placeholder="{{'Gram. tag:'|translate}}" class="keyboardInput" id="advTag" ng-model="queryRow.gramTag">
    </div>
</div>
<div class="options">
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.beginWith"> <small><translate>begins with</translate></small></input>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.endWith"> <small><translate>ends with</translate></small></input>
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"  value="" ng-model="queryRow.caseSensitive"> <small><translate>case sensitive</translate></small></input>
        </label>
		<label class="checkbox-inline">		
			<input type="checkbox"  value="" ng-model="queryRow.ignoreDiacritics"> <small><translate>ignore diacritics</translate></small></input>
		</label>
		<span ng-show="showTokensInBetween" style="margin-left: 45px">
		<p style="display: inline-block;" ng-show="showTokensInBetween"><small><b><translate>Tokens in between:</translate></b></small></p>
			<input style="width: 8%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'from'|translate}}" ng-model="queryRow.from">
			<input style="width: 8%; display: inline-block;" id="from_to" type="number" class="form-control-small" placeholder="{{'to'|translate}}" ng-model="queryRow.to">
		</span>
		<!--<label class="checkbox-inline"> 	
			<input type="checkbox" value="" ng-model="queryRow.negate"> <small>negation</small>
		</label>-->
</div>
