<div>
		<div style="display:inline-block;">
			<div ng-if="meta.type == 'text'">
				<input type="{{meta.type}}" placeholder="{{meta.hint}}" ng-model="meta.value" class="form-control-checkbox" />
			</div>
			<div ng-if="meta.type == 'select'" ng-dropdown-multiselect="" options="values" selected-model="model" extra-settings="multiSettings" translation-texts="hint" checkboxes="true">
			<!--<input type="text" ng-model="meta.value">
			{{meta.name}}
			<ul>
			<li ng-repeat="opt in lioptions|matchTest:meta.name:meta.value">{{opt}}</li>
			</ul>-->
				<!--<label for="{{meta.name}}">{{meta.hint}}</label>
				<select ng-model="meta.value" name="{{meta.name}}">
					<option value="{{value}}" ng-repeat="value in meta.values">{{value}}</option>
				</select>-->
			 
			</div>
		</div>
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="negation"><small><span  style="position: relative; left:-3px;" translate>exclude</span></small>
			</label>
		<!--
		<div class="squaredOne">
			<input type="checkbox" id="{{'squaredOne_' + index + '_' + place}}" ng-model="meta.inResults">
			</input>
			<label for="{{'squaredOne_' + index + '_' + place}}"  tooltip-html-unsafe="{{getTip()}}" tooltip-popup-delay="1200"></label>
		</div>-->
</div>