<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Virtual Keyboard Demo</title>
	<link href="../css/angular-virtual-keyboard.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>

	<script src="../release/angular-virtual-keyboard.js"></script>

	<script>
		angular.module('exampleApp', ['angular-virtual-keyboard'])
		.config(['VKI_CONFIG', function(VKI_CONFIG) {
			VKI_CONFIG.layout['Portugu\u00eas Brasileiro'] = {
				'name': "Portuguese (Brazil)", 'keys': [
				[["'", '"'], ["1", "!", "\u00b9"], ["2", "@", "\u00b2"], ["3", "#", "\u00b3"], ["4", "$", "\u00a3"], ["5", "%", "\u00a2"], ["6", "\u00a8", "\u00ac"], ["7", "&"], ["8", "*"], ["9", "("], ["0", ")"], ["-", "_"], ["=", "+", "\u00a7"], ["Bksp", "Bksp"]],
				[["Tab", "Tab"], ["q", "Q", "/"], ["w", "W", "?"], ["e", "E", "\u20ac"], ["r", "R"], ["t", "T"], ["y", "Y"], ["u", "U"], ["i", "I"], ["o", "O"], ["p", "P"], ["\u00b4", "`"], ["[", "{", "\u00aa"], ["Enter", "Enter"]],
				[["Caps", "Caps"], ["a", "A"], ["s", "S"], ["d", "D"], ["f", "F"], ["g", "G"], ["h", "H"], ["j", "J"], ["k", "K"], ["l", "L"], ["\u00e7", "\u00c7"], ["~", "^"], ["]", "}", "\u00ba"], ["/", "?"]],
				[["Shift", "Shift"], ["\\", "|"], ["z", "Z"], ["x", "X"], ["c", "C", "\u20a2"], ["v", "V"], ["b", "B"], ["n", "N"], ["m", "M"], [",", "<"], [".", ">"], [":", ":"], ["Shift", "Shift"]],
				[[" ", " ", " ", " "], ["AltGr", "AltGr"]]
			], 'lang': ["pt-BR"] };

			VKI_CONFIG.layout.Numerico = {
				'name': "Numerico", 'keys': [
				[["1", '1'], ["2", "2"], ["3", "3"], ["Bksp", "Bksp"]],
				[["4", "4"], ["5", "5"], ["6", '6'], ["Enter", "Enter"]],
				[["7", "7"], ["8", "8"], ["9", "9"], []],
				[["0", "0"], ["-"], ["+"], [","]]
			], 'lang': ["pt-BR-num"] };

			/* CHANGE TEXT LANGUAGE */
			// VKI_CONFIG.i18n = {
			// 	'00': "Exibir teclado numérico",
			// 	'01': "Exibir teclado virtual",
			// 	'02': "Selecionar layout do teclado",
			// 	'03': "Teclas mortas",
			// 	'04': "Ligado",
			// 	'05': "Desligado",
			// 	'06': "Fechar teclado",
			// 	'07': "Limpar",
			// 	'08': "Limpar campo",
			// 	'09': "Versão",
			// 	'10': "Diminuir tamanho do teclado",
			// 	'11': "Aumentar tamanho do teclado"
			// };

			// VKI_CONFIG.relative = true;
			// VKI_CONFIG.sizeAdj = false;
		}])
		.controller('ExampleCtrl', ['$scope', function($scope){
			// Your controller code comes here
		}]);
	</script>
</head>
<body ng-app="exampleApp" style="padding-bottom: 300px">
	<div ng-controller="ExampleCtrl">

		<h1>Angular Virtual Keyboard</h1>

		<br><br>
		<h2>Default configuration</h2>

		<h4>Keyboard binded by directive attribute: </h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t02" ng-virtual-keyboard/><br>
			<em>(Model value: {{t02}})</em>
		</div>

		<br><br>

		<h2>Custom configurations</h2>

		<h4>Keyboard layout: Português Brasileiro</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t03" ng-virtual-keyboard="{kt: 'Portugu\u00eas Brasileiro', relative: false}"/><br>
			<em>(Model value: {{t03}})</em>
		</div>

		<h4>Show keyboard language selection</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t04" ng-virtual-keyboard="{kt: 'Portugu\u00eas Brasileiro', showKbSelect: true}"/><br>
			<em>(Model value: {{t04}})</em>
		</div>

		<h4>Show deadKeys off by default</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t05" ng-virtual-keyboard="{deadkeysOn: false}"/><br>
			<em>(Model value: {{t05}})</em>
		</div>

 		<h4>Force position: top</h4>
		<div>
			<label>Input Number: </label><input type='text' ng-model="t012" ng-virtual-keyboard="{forcePosition: 'top'}"/><br>
			<em>(Model value: {{t012}})</em>
		</div>

 		<h4>Force position: bottom</h4>
		<div>
			<label>Input Number: </label><input type='text' ng-model="t013" ng-virtual-keyboard="{forcePosition: 'bottom'}"/><br>
			<em>(Model value: {{t013}})</em>
		</div>

		<h4>Enable number pad</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t006" ng-virtual-keyboard="{numberPad: true}"/><br>
			<em>(Model value: {{t006}})</em>
		</div>

		<h4>Show version number</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t007" ng-virtual-keyboard="{showVersion: true}"/><br>
			<em>(Model value: {{t007}})</em>
		</div>

		<h4>Use keyboard button action</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t008" ng-virtual-keyboard="{imageURI: 'keyboard.png'}"/><br>
			<em>(Model value: {{t008}})</em>
		</div>

		<h4>Keyboard default size: 5</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t009" ng-virtual-keyboard="{size: 5}"/><br>
			<em>(Model value: {{t009}})</em>
		</div>

		<h4>Forced to show in mobile devices</h4>
		<div>
			<label>Input text: </label><input type='text' ng-model="t010" ng-virtual-keyboard="{showInMobile: true}"/><br>
			<em>(Model value: {{t010}})</em>
		</div>

 		<h4>Customized numeric keyboard layout</h4>
		<div>
			<label>Input Number: </label><input type='text' ng-model="t011" ng-virtual-keyboard="{kt: 'Numerico'}"/><br>
			<em>(Model value: {{t011}})</em>
		</div>

		<h4>E-mail field</h4>
		<div>
			<label>Input e-mail: </label><input type='email' ng-model="t012" ng-virtual-keyboard="{kt: 'US International', numberPad: true, 	showVersion: true, relative: false}"/><br>
			<em>(Model value: {{t012}})</em>
		</div>

		<h4>Textarea fields</h4>
		<div>
			<label>Input e-mail: </label><textarea ng-model="t013" ng-virtual-keyboard="{kt: 'US International', numberPad: true, showVersion: true, sizeAdj: false}"/><br>
			<em>(Model value: {{t013}})</em>
		</div>
	</div>
</body>
</html>
