<div class="info">

<h2 translate><b>How to use the corpus</b></h4>

<h4 translate>Please choose basic or CQP search.</h4> 
<ul translate><li>In basic search mode, type in word form, lemma or grammatical tag for each word in separate. You can use <a href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/">regular expressions</a> in all fields; the tag set is given <a href="http://corpus.leeds.ac.uk/mocky/msd-ru.html">here</a>. A good way to get to know the tags is to move the mouse over the tokens on the result page and examine the annotation. <br>Please note the following differences to the <a href="http://www.ruscorpora.ru/en/search-main.html">Russian National Corpus</a>:  <ul> <li> Instead of '*', you need to write '.*'</li> <li> Instead of '?', you need to write '.' (which matches any character). See <a href="http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/">here</a>  for more details</li> <li> When filling in the tag field, note that you need to specify the whole tag - for example, in order to find a verb, you need to write 'V.*", not 'V', since the tag is longer than just V</li>  </ul> </li><li>Many more functions are only accessible with the complex search mode (see below).</li></ul>  

<h4 translate>The CQP search mode</h4>

<ul translate><li>The CQP search mode allows you to use full CQP syntax, see the <a href="http://cwb.sourceforge.net/documentation.php">CQP Documentation</a></li><li>Simple statistical "count" feature: <br>A=QUERY; count A by TYPE (TYPE is word, lemma or tag)<br> E.g.: A= "(т[еаоуи]|[аео]т)"; count A by word; <br>If the browser can't display the search results, download XML or have a look at page source;</li><li>To add context, prepend "set Context 2 utterance;", e.g.<br>set Context 3 utterance; "-" "м".</li></ul>

</div>