<div class="info">


<p translate style="text-align: left; margin-top: 15px;">
Click here for</p>
<ul>
	<li translate>basic <a href="#" target="blank">corpus statistics</a>,</li>
	<li translate>frequency list of <a href="#" target="blank">wordforms</a>,</li>
	<li translate>frequency list of <a href="#" target="blank">recognized lexems</a>.</li>
	<!--<li translate>frequency list of <a href="http://www.parasolcorpus.org/Rogovatka/nelemmatizirovannye.php" target="blank">unrecognized lexemes</a> (unknowns).</li>-->
</ul>

</div>